/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4343442f;
    padding: 20px;
    min-height: 100vh;
    flex-direction: row-reverse; /* Inverte a ordem dos elementos */
}

.container {
    width: 450px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: 20px; /* Muda para margin-left para espaçamento correto */
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #ffa500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

.error {
    color: red;
    font-size: 14px;
}

/* Estilos para os botões */
button, .botao {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

/* Estilo para o botão "Cadastrar" */
button {
    background-color: #ffa500;
    color: white;
}

button:hover {
    background-color: #45a049;
}

/* Estilo para o botão "Voltar" (usando a classe .botao) */
.botao {
    background-color: #008CBA;
    color: white;
}

.botao:hover {
    background-color: #0077A3;
}

/* Estilos para os links "Esqueci minha senha", "Alterar meu email", e "Cadastre-se" */
.link-button {
    background: none;
    border: none;
    color: #008CBA;
    padding: 0;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
}

.link-button:hover {
    color: #0077A3;
}

/* Estilos para o container dos botões*/
.botao-voltar{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* Estilos para o link "Voltar ao Login" */
.voltar-login {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #008CBA;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.voltar-login:hover {
    background-color: #0077A3;
}

/* Estilos para centralizar o botão */
.container p {
    text-align: center;
}

/* Estilos para a imagem de registro */
.registration-image {
    text-align: center;
}

.registration-image img {
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para o copyright */
.copyright {
    margin-top: 20px;
    font-size: 0.9em;
    color: #666;
}